.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.textBox{
    font-family: Pretendard;
    font-size: 2rem;
    color: grey;
}
a{
    color: white;
}
a1{
    color:blueviolet;
}
.infos{
    color: white;
    font-size: 3rem;
}
.heartIcon{
    width: 130px;
    height: 100px;
}