.wrapper{
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    flex-direction: column;
    font-family: Pretendard;
}
.textBox{
    font-weight: 600;
    font-size: 1.5rem;
    color: grey;
    @media screen and (max-width: 510px){
        font-size: 1rem;
    }
}
a{
    color: black;
}
a1{
    color:blueviolet;
}
.hello{
    font-size: 28px;
}
.infos{
    color: black;
    font-size: 2rem;
    @media screen and (max-width: 510px){
        font-size: 1.5rem;
    }
}
.heartIcon{
    margin-top: -20px;
    width: 130px;
    height: 100px;
    @media screen and (max-width: 510px){
        width: 100px;
        height: 80px;
    }
}