.wrapper{
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    flex-direction: column;
    
}
.textBox{
    font-family: Pretendard;
    font-size: 2rem;
    color: grey;
}
a{
    color: black;
}
a1{
    color:blueviolet;
}
.infos{
    color: black;
    font-size: 3rem;
}
.heartIcon{
    margin-top: -20px;
    width: 130px;
    height: 100px;
}