.wrapper{
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    flex-direction: column;
    font-family: Pretendard;
    color: black; 
    @media (max-width: 510px) {
        margin-top: 50px;
    }
}
.title{
    font-family: 'EF_jejudoldam';
    font-size: 3rem;
    color: blueviolet;
    @media (max-width: 510px) {
        font-size: 2rem;
    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    @media (max-width: 510px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* flex-wrap: wrap; */
    }
}
.textBox{
    width: 430px;
    align-items: center;
    text-align: center;
}
.projName{
    font-family: 'EF_jejudoldam';
    font-size: 24px;
    font-weight: 700;
    @media (max-width: 510px) {
        font-size: 16px;
    }
}
.buttonModal{
    background-color:rgba(137, 43, 226, 0.616);
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: Pretendard;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 30px;
}
.buttonModal:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: small;
    transition: all 0.5s ;
}