.header-wrapper{
    font-family: Pretendard;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999; 
    background-color: black;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
li{
    color: white;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}