.wrapper{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin-top: 50px;
    font-family: Pretendard;
    color: black;
}
.title{
    font-family: 'EF_jejudoldam';
    font-size: 3rem;
    color: blueviolet;
    @media (max-width: 510px) {
        font-size: 2rem;
    }
}
.container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:nowrap;
    @media (max-width: 510px) {
        flex-wrap: wrap;
    }
}
.profilePic{
    border-radius: 10%;
    width: 320px;
    height: 420px;
    @media (max-width: 510px) {
        visibility:hidden;
    }
}
.left{
    width: 250px;
    margin-right: 30px;
}
.right{
    width: 250px;
}
h3{
    font-size: 20px;
    font-family: 'EF_jejudoldam';
    @media (max-width: 510px) {
        font-size: 16px;
    }
}
h4{
    font-size: 16px;
    @media (max-width: 510px) {
        font-size: 12px;
    }
}
h5{
    font-weight: 500;
    font-size: 14px;
    color: #2e2e2e;
    @media (max-width: 510px) {
        font-size: 12px;
    }
}
a3{
    color: gray;
    font-weight: 500;
    font-size: 12px;
    @media (max-width: 510px) {
        font-size: 10px;
    }
}