.wrapper{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;

    font-family: Pretendard;
    color: black;
}
h2{
    font-size: 3rem;
    color: blueviolet;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profilePic{
    border-radius: 10%;
    width: 300px;
    height: 400px;
}
.left{
    width: 240px;
}
.right{
    width: 240px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
h5{
    font-weight: 500;
    font-size: 14px;
    color: #2e2e2e;
}
a3{
    color: gray;
    font-weight: 500;
    font-size: 12px;
}